/*--- THE START OF CSS --*/
/*--- Author: P15241882 - Muluken Sintayehu --*/

/*--- STYLING OF WHOLE PAGE --*/
html, body {
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}

/*--- STYLING THE CREW NAME, ON TOP OF THE CREW IMAGE --*/
h1 {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size: 300%;
	font-weight: 700;
	color: #15f4ed;
	text-align: center;
	padding: 2%;
	text-shadow: 0px 0px 250px #000;
}

h2 {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;;
	font-size: 200%;
	font-weight: 700;
	text-align: center;
	color: rgb(0, 0, 0);
	text-decoration: underline;
    word-spacing: 2px;  
    letter-spacing: 1px;
}

/*--- STYLING THE INTRO PARAGRAPH ON TOP OF CREW IMG ---*/
p {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: #2C2C2C;
	font-size: 140%;
	line-height: 180%;
	text-align: justify;
	font-weight: 300;
}

/*--- STYLING THE HOME SECTION, CREW IMAGE AND SETTING IT TO 100% W/H ---*/
.home-section {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://image.ibb.co/nqq3wb/crew1_1.jpg) no-repeat 50% 50%;
	background-size: cover;
	display: table;
	top: 0;
}

/*--- STYLING THE NAVIGATION, FLOATING TOP LEFT OF THE PAGE --*/
/*--- THE NAVIGATION IS SUITABLE FOR MOBILE AND BIGGER SCREENS --*/
nav {
	float: left;
	padding: 5% 5% 0 0;
	height: 50px;
}
nav ul {
	list-style: none;
	float: left;
}
nav ul li {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size: 120%;
}
nav ul li a {
	color: #FFF;
	text-decoration: none;
}

/*--- STYLING THE NAVIGATION LINKS --*/
nav ul li a:hover {
  color: #15f4ed;
	text-decoration: underline;
}
nav ul, nav:active ul {
	display: none;
	padding: 8px 0;
	left: 45px;
	top: 60px;
	width: 20%;
	z-index: 1000;
}
nav li {
	width: 100%;
	padding: 8px 0 10px 10px;
	margin: 0;
}
nav:hover ul {
	display: block;
	position: absolute;
}

/*--- STYLING THE MENU ICON, USED RANDOM GOOGLE IMG --*/
#menu-icon {
	width: 50px;
	height: 30px;
	background: url(https://www.patsfans.com/2015/forum/images/menu_button.png) center;
	display: inline-block;
	margin: 50px 0 0 50px;
}

/*--- STYLING THE BIG TEXT ---*/
.big-text {
	max-width: 600px;
	margin: auto;
	font-size: 170%;
	line-height: 1.6;
	padding: 10px;
}

/*--- STYLING THE HOME AND TEXT TO DISPLAY AS TABLE-CELL ---*/
.home-section .big-text {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

/*--- STYLING THE CONTENT ---*/
.content {
	max-width: 600px;
	margin: auto;
}

/*--- STYLING THE CONTENT PARAGRAPH ---*/
.content p {
	color: #FFF;
}

/*--- STYLING THE SHORTCUT BUTTON/LINK ---*/
.toTop {
  bottom: 0;
  right: 0;
  background-color: transparent;
  height: 40px;
  font-size: 11pt;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-weight: bold;
  position: fixed;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
  color: rgb(0, 0, 0);
}

/*--- STYLING THE SHORTCUT BUTTON/LINK TEXT ---*/
.toTop a {
  display: inline-block;
  width: 120px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  line-height: 40px;
  box-sizing: border-box;
}

/*--- STYLING THE SHORTCUT BUTTON/LINK WHEN USER HOVERS OVER IT  ---*/
.toTop a:hover, .toTop a:active {
  background-color: transparent;
  color: #15f4ed;
}


/*--- STYLING THE ABOUTUS TEXT AND CREW  ---*/
.about-text {
	width: 52%;
	float: left;
	margin: 4% 0 4% 4%;
}
.crewemblem {
	width: 34%;
	float: left;
	margin: 4%;
}

/*--- STYLING THE CREW GALLERY PAGE  ---*/
.gallery{
	width:100%;
	margin: auto;
	display:flex;
	flex-flow: row wrap;
  }
  
  .gallery_images{
	box-sizing:border-box;
	width:100%;
	padding:1rem;
	margin:1rem;
	box-shadow: 1px 2px 10px 2px #15f4ed;
  }
  .image-caption{
	margin-top:1rem;
	font-size:0.95rem;
  }
  .image{
	width:100%;
	display:block;
  }

.gallery img:hover {
	opacity: .6;
}
	

/*--- BREAKDOWN POINTS FOR GALLERY  ---*/
  @media only screen and (min-width: 33.75em){
	.gallery_images{
	  flex-basis: calc(50% - 2rem);
	}
  }
  
  @media only screen and (min-width: 48em){
	.gallery_images{
	  flex-basis: calc((100% / 3) - 2rem);
	}
  }
  
  @media only screen and (min-width: 60em){
	.gallery_images{
	  flex-basis: calc((100% / 3) - 2rem);
	}
	}

/*--- STYLING THE HIERARCHY PAGE  ---*/
#section-b {
  padding: 0 1em 1em;
  text-align: center;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

















/*--- STYLING THE CONTACTUS PAGE  ---*/
			.contact p {
				text-align: center;
				letter-spacing: 5px;
			}
			.contact a {
				color: #2C2C2C;
				text-decoration: none;
			}
			.break {
				display: none;
			}
			.clearfix {
				clear: both;
				height: 3%;
			}
			.social {
				list-style-type: none;
				text-align: center;
			}
			.social li {
				display: inline;
			}
			.social i {
				font-size: 270%;
				margin: 1% 5% 7% 4%;
				color: #2C2C2C;
			}
			.social i:hover {
				color: #606060;
			}
			footer.second {
				background-color: #2C2C2C;
			}
			footer.second p {
				color: #FFF;
				text-align: center;
				padding: 5%;
			}

			
			



	




@media screen and (max-width: 768px) {
	#menu-icon {
		margin: 26px 0 0 26px;
	}
	nav ul, nav:active ul {
		padding: 8px 0;
		left: 23px;
		top: 34px;
		width: 50%;
	}
	.big-text {
		font-size: 120%;
	}
	.content h1 {
		font-size: 180%;
	}
	p {
		font-size: 120%;
	}
	h2 {
		font-size: 160%;
	}
	.about-text {
		width: 96%;
		margin: 0 0 3% 0;
		padding: 0 2%;
	}
	.crewemblem {
		width: 96%;
		margin: 0 auto;
	}
}